<!doctype html>
<html ng-app="firefront">
  <head>

	<base href="/firefront/frontend/"></base>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.16/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.4.11/ui-grid.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-tree-control/0.2.30/angular-tree-control.min.js"></script>

	<script src="../firefront.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-materia.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-tree-control/0.2.30/css/tree-control.css" rel="stylesheet">

<!--
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.4.11/ui-grid.min.css" rel="stylesheet">
-->

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>FireFront Frontend</title>

  </head>
  <body ng-cloak>

    <div class="container-fluid d-flex flex-column h-100">

		<div id="header">
			<nav class="navbar navbar-expand-lg navbar-light sticky-top">
				<a class="navbar-brand" ui-sref="/">FIREFRONT</a>

				<button class="navbar-toggler" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">Smtn</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Smtn else</a>
						</li>

					</ul>
				</div>

				<div class="navbar-collapse collapse w-100 order-3 dual-collapse2" uib-collapse="navCollapsed">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item" uib-dropdown>
							<a class="nav-link dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
							  Help
							</a>
							<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="navbarDropdown">
							  <a class="dropdown-item" href="#">Action</a>
							  <a class="dropdown-item" href="#">Another action</a>
							  <div class="dropdown-divider"></div>
							  <a class="dropdown-item" href="#">Something else here</a>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
		</div>

		<ui-view class="d-flex flex-column flex-grow"></ui-view>

    </div>
  </body>
</html>
