<div class="container-fluid">

	<nav class="nav">
	  <a class="nav-link" routerLink="/db">Databases</a>
	  <a class="nav-link" routerLink="/users">Users</a>
	</nav>

	<router-outlet></router-outlet>


</div>