<div class="card-group">
  <div *ngFor="let database of databases | keyvalue" class="card" routerLink="/db/{{ database.key }}">
    <div class="card-body">
      <h5 class="card-title">{{ database.key }}</h5>
    </div>
  </div>
</div>