My path is "{{ path }}"

<ul class="list-unstyledz">
	<li *ngFor="let key of keys">
		<button (click)="expand(key)" ng-class="btn btn-xs btn-default" *ngIf="!expanded[key]">+</button>
		{{ key }}

		<app-tree-node [parent]="this" path="{{ path }}/{{ key }}" *ngIf="expanded[key]"></app-tree-node>
	</li>
</ul>