<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

	<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyA8Uxz2-3Qf_6i-ZLkC-U4d2Xj_c9NXiic",
		authDomain: "fxdata-7a73e.firebaseapp.com",
		databaseURL: "https://fxdata-7a73e.firebaseio.com",
		projectId: "fxdata-7a73e",
		storageBucket: "fxdata-7a73e.appspot.com",
		messagingSenderId: "723376699650"
	  };
	  firebase.initializeApp(config);
	</script>

	<script src="../firefront.js"></script>

	<script>
		angular.module('t', []).controller('TestController', function($scope)
		{
			$scope.watch = function()
			{
				window.setTimeout(function()
				{
					var root = firefront.database(config.projectId);

					root.ref('c').on('child_added', function(snap)
					{
						console.log('added', snap.val());
					});

					root.ref('c').on('child_changed', function(snap)
					{
						console.log('changed', snap.val());
					});

					root.ref('c').child('e').on('value', function(snap)
					{
						console.log('EURO VALUE', snap.val());
					});

					root.ref('c').on('value', function(snap)
					{
						console.log('ALL VALUES', snap.val());
					});

					root.ref('').on('value', function(snap)
					{
						console.log('!!! everything', snap.val());
					});

				});
			};
		});

		firefront.initializeApp(config.projectId);
	</script>

  </head>
  <body ng-app="t">

	<div ng-controller="TestController" ng-init="watch()">
	  <button ng-click="watch()">Start watching</button>
	</div>

  </body>
</html>