<div class="row flex-grow">

	<div class="col-xl-2 d-flex flex-column flex-grow">

	</div>

	<div class="col-xl-10 d-flex flex-grow flex-column" style="border: 1px solid black">

		<form ng-submit="db.loadJson(db.importJson)">
			<textarea ng-model="db.importJson"></textarea>
			<button type="submit">Import JSON</button>
		</form>

	</div>

</div>

<script type="text/ng-template" id="smtn.html">

</script>
