<div class="card" style="width: 18rem;" ng-repeat="(name, database) in list.databases">
  <div class="card-body">
    <a class="card-title"  ui-sref="database({database: name})">{{ name }}</a>
  </div>
</div>